.App {
    display: grid;
}
#btnGet {
    align-self: center;
    justify-self: center;
}

#btn {
  border-radius: 5px;
  border: 0;
  width: 100%;
  margin: 20px;
  background-color: wheat;
}

.card-body {
  margin: 5px;
  padding: 5px;
}
