.App {
    display: grid;
    
}

body{
  background-color: #dfcccc;
}
/* #btnGet {
    align-self: center;
    justify-self: center;
} */

#btn {
  border-radius: 5px;
  border: 0;
  margin: 20px;
  width: 100%;
  color: white;
  height: 30px;
  background-color:#460062;
}

.card-body {
  margin: 5px;
  padding: 5px;
  
}

.card {
  padding: 10px;
  margin: 20px;
   background: rgba(91, 0, 152, 0.1);
}

.btn{
  color: #460062;
  border-color: #460062;
}